/*******************************************************************************/
/************************************ GENERIC STYLES ***************************/
/*******************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #f2f2f2;  */
  background-color: #f5f5f5;
  /* background-color: #fff; */
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /* background-color: #fff; */
  color: #333;
}
/*******************************************************************************/
/************************************ NAVBAR ***********************************/
/*******************************************************************************/
.navbar {
  background-color: #fff;
  /* box-shadow: 2px 2px 5px #3292a6; */
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #dee1e6;
  /* border-bottom: solid 1px #f5f5f5; */
  opacity: 0.9;
}

.navbar .nav-item {
  font-size: 1 rem;
  padding-right: 1.2rem;
}

.myNav {
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  color: #565a5f;
  letter-spacing: 0.1rem;
}

.logo:hover {
  color: #74b9ff;
}

.logoBold {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.logoReg {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul {
  font-weight: 400;
  letter-spacing: 0.1rem;
}

li {
  display: inline-block;
  text-decoration: none;
  background-color: inherit;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

.nav-link {
  display: inline-block;
  color: #565a5f;
  transition: color 300ms ease;
}
.nav-link:hover {
  color: #2aa5fa;
}

.nav-item {
  display: inline-block;
  position: relative;
  color: #565a5f;
}

.nav-item::before {
  color: #565a5f;
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 15%;
  left: 25%;
  background-color: #2aa5fa;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*******************************************************************************/
/************************************ Headings ***********************************/
/*******************************************************************************/
.banner {
  background: rgba(254, 199, 179, 1);
  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.labels {
  /* border-radius: 20px; */
  color: #0f0100;
  /* color:#565a5f; */
  text-align: left;
  padding-left: 0px;
  margin-top: 40px;
  display: block;
}

.labelsLanding {
  color: #ffffff;
}

.subHeadingBanner {
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
}

/*******************************************************************************/
/************************************ EVENTS ***********************************/
/*******************************************************************************/

.alignBtn {
  text-align: center;
}
.events {
  /* height: 400px; */
  margin-top: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
  border: none;
}

.eventCard {
  text-align: left;
  color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 25px;
  border: none;
}

.card-body {
  padding: 0px;
}

.genre {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 300;
  color: #888888;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.genre:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin-right: 20px; /* This will center the border. */
  width: 90%; /* Change this to whatever width you want. */
  padding-bottom: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #f6f6f6; /* This creates the border. Replace black with whatever color you want. */
}

.eventh1,
.modalh2,
.eventName {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.venue {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

a {
  color: #fff;
  transition: color 300ms ease;
}
a:hover {
  color: #adb1bf;
  text-decoration: none;
}

.eventButton {
  width: 100px;
  float: left;
  border: 1px solid #74b9ff;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 100px;
  color: #fff;
  transition: background-color 1000ms ease-in;
  transition: color 500ms ease-in;
  transition: color 500ms ease-out;
}

.eventButton:hover {
  background-color: #fff;
  border: 1px solid #74b9ff;
  color: #74b9ff;
}

.eventButton:after {
  background-color: #74b9ff;
  color: #fff;
  transition: color 1000ms ease-out;
}

.content {
  min-height: calc(100vh - 80px);
}

.form .form-group {
  margin: 1.2rem 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 3rem;
}

/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/*******************************************************************************/
/************************************ ALERTS ***********************************/
/*******************************************************************************/
.alert {
  padding: 0.8rem;
  margin-top: 10rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*******************************************************************************/
/************************************ LANDING **********************************/
/*******************************************************************************/
.landing {
  position: relative;
  background: url('./img/coffee.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*******************************************************************************/
/************************************ MOBILE DISPLAY ***************************/
/*******************************************************************************/
@media (max-width: 700px) {
  .container {
    margin-top: 6rem;
  }

  /* NAVBAR */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .labelsLanding,
  .labels {
    text-align: center;
  }

  .card,
  .eventCard,
  .events,
  .eventButton,
  .alignBtn,
  .btn-sm {
    text-align: center;
  }

  .alignBtn {
    align-content: center;
  }

  .form,
  .myCard {
    width: fit-content;
  }
}
